
@{
    ViewBag.Title = "CreateSurvey";
}

<form>
    <h2>New Survey</h2>
    <div id='questionsList'>
        <table class='questionsEditor' data-bind='visible: questions().length > 0'>
            <tr>
                <th></th>
                <th>Question Number</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Mandatory Field</th>
                <th>Limits</th>
                <th>Options</th>
            </tr>
            <tbody data-bind="foreach: questions">
               
                <tr>
                    <td>
                        <div>
                            <a href='#' data-bind='click: $root.removeQuestion'>Delete</a>
                        </div>
                    </td>
                    <td data-bind="text: QuestionNumber"></td>
                    <td><input data-bind='value: Question' /></td>
                    <td data-bind='text: Type'></td>
                    <td>
                        <select data-bind="value: Mandatory">
                            <option value=true>true</option>
                            <option value=false>false</option>
                        </select>
                    </td>
                    <td><input data-bind='value: Limits' /></td>
                    <td data-bind="visible: Type == 'MultipleOption'">
                        <table>
                            <tbody data-bind="foreach: Options">
                                <tr>
                                    <td><input data-bind=' value: Option' /></td>
                                    <td><a href='#' data-bind='click: $root.removeOption'>Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <button data-bind='click: $root.addOption'>Add option</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>
        <button data-bind="click: addYesNoQuestion">Add a YesNo Question</button>
        <button data-bind="click: addFreeFormQuestion">Add a FreeForm Question</button>
        <button data-bind="click: addMultiOptionQuestion">Add a Multi-Option Question</button>
        <button data-bind="click: save, enable: questions().length > 0">Save to JSON</button>



    </p>

    <textarea data-bind='value: lastSavedJson' rows='20' cols='120'> </textarea>
</form>

